<!-- <div>{{users}}</div>
<div>{{jackpots}}</div>
<div>{{play}}</div>
<div>{{play_list}}</div> -->
<!Doctype html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/roulette.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
<div class="row">
	<div class="col-md-6">
		<div id="max-jackpot" class="next_draw_info parbase lottomax">
		    <div class="draw_text">
				<img src="{{ url_for('static', filename='files/lotto-max-jackpot-logo.png') }}" alt="Lotto MAX" class="logo">
		       
				<h2>Friday's Jackpot</h2>
		        <div class="dyn" data-tba="TBA">
		        	<div class="jackpot">${{jackpots[0].million}} Million <span class="est">EST.</span>
		    		</div>
		    		<div class="bonus">+{{jackpots[0].extra}} MAXMILLIONS <span class="tm">TM</span><span class="est">EST.</span>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="col-md-6">
		<div id="six49-jackpot" class="next_draw_info parbase lotto649">
		    <div class="draw_text">
				<img src="{{ url_for('static', filename='files/lotto-649-jackpot-logo.png') }}" alt="Lotto MAX" class="logo">
		       
				<h2>Current Jackpot</h2>
		        <div class="dyn" data-tba="TBA">
		        	<div class="jackpot">${{jackpots[1].million}} Million <span class="est">EST.</span>
		    		</div>
		    		<div class="bonus">+{{jackpots[1].extra}} GUARANTEED<br> MAXMILLION PRIZE
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>
</div>
<!-- <div class="play-list-container">
	{% if (play_list|length)>0%}
	{% set index = 1 %}
	<div class="row">
		<div class="name-column header">Name</div>
		<div class="header">Good Luck</div>
	</div>
	{% endif %}
	{% for p in play_list%}
		<div class="row">
			<div class="name-column">{{index}}        {{p.name}}</div>
			<div>{{p.luck}}</div>
			{% set index = index + 1 %}
		</div>
	{% endfor %}
</div>
 <div id="enroll-form">
	<form action="/" method="post">
		<span>Please Select Your Name</span>
		<select name="id">
			{% for u in users%}
			<option value="{{u.id}}">{{u.name}}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Join">
	</form>
</div> -->
<div id="winner" style="display:none">{{winner}}</div>
<div class="roulette-container" style="width:240px; margin:auto;">
	<div>Winner of This Week:</div>
	<div class="roulette" style="display:none;"> 
		<img src="{{ url_for('static', filename='files/alex.png') }}"/>
		<img src="{{ url_for('static', filename='files/behnaz.png') }}"/>
		<img src="{{ url_for('static', filename='files/chao.png') }}"/>
		<img src="{{ url_for('static', filename='files/eric.png') }}"/>
		<img src="{{ url_for('static', filename='files/jing.png') }}"/>
		<img src="{{ url_for('static', filename='files/josh.png') }}"/>
		<img src="{{ url_for('static', filename='files/jude.png') }}"/>
		<img src="{{ url_for('static', filename='files/kevin.png') }}"/>
		<img src="{{ url_for('static', filename='files/laura.png') }}"/>
		<img src="{{ url_for('static', filename='files/lei.png') }}"/>
		<img src="{{ url_for('static', filename='files/mandeep.png') }}"/>
		<img src="{{ url_for('static', filename='files/marko.png') }}"/>
		<img src="{{ url_for('static', filename='files/ray.png') }}"/>
		<img src="{{ url_for('static', filename='files/sherry.png') }}"/>
		<img src="{{ url_for('static', filename='files/simon.png') }}"/>
		<img src="{{ url_for('static', filename='files/steven.png') }}"/>
		<img src="{{ url_for('static', filename='files/susan.png') }}"/>
		<img src="{{ url_for('static', filename='files/timmy.png') }}"/>
		<img src="{{ url_for('static', filename='files/wayne.png') }}"/>
		<img src="{{ url_for('static', filename='files/yong.png') }}"/>
	</div>
	<!-- <div class="btn_container" style="padding-left:24%">
		<button class="btn btn-large btn-primary start"> START </button>
	</div> -->
</div>
<div class="bottom-wrap row" style="text-align:center; margin-top:10px">
	<img src="{{ url_for('static', filename='files/1379334631-3509853702.jpg') }}" alt="Lotto MAX" class="logo" style="">
</div>
<script type="text/javascript">
var map;
var markers = [{lat: 49.278255, lng:-123.124553}]
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 49.27874 , lng: -123.126386},
    zoom: 16
  });
}
</script>
</body>
</html>
